[include] 
  path = ~/.gitconfig.local

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = yigithanbalci
	email = 13695727+yigithanbalci@users.noreply.github.com
[core]
	autocrlf = input
[pull]
	rebase = false
[alias]
  st = status
  co = checkout
  br = branch
  adp = add -p
  ci = commit
  cm = commit -m
  cmp = commit -mp
  lg = log --oneline --graph --all --decorate
  rbs = "!f() { git rebase -i --keep-empty --no-autostash --rebase-merges \"$@\"; }; f"
  prn = !sh -c 'git fetch -p && git remote prune origin && git branch -vv | grep \": gone]\" | awk \"{print \\$1}\" | xargs -r git branch -D'
[credential "https://github.com"]
	helper = !sh -c 'GH=$(command -v gh || [ -x /opt/homebrew/bin/gh ] && echo /opt/homebrew/bin/gh || echo /usr/bin/gh); "$GH" auth git-credential'
[credential "https://gist.github.com"]
	helper = !sh -c 'GH=$(command -v gh || [ -x /opt/homebrew/bin/gh ] && echo /opt/homebrew/bin/gh || echo /usr/bin/gh); "$GH" auth git-credential'
