[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/yigithanbalci/nvim.git
  branch = lazyvim
[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/yigithanbalci/emacs.git
[submodule "doom/.config/doom"]
	path = doom/.config/doom
	url = https://github.com/yigithanbalci/doom.git
