[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/yigithanbalci/nvim.git
  branch = lazyvim
[submodule "emacs/.config/emacs"]
	path = emacs/.config/emacs
	url = https://github.com/yigithanbalci/emacs.git
[submodule "doom/.config/doom"]
	path = doom/.config/doom
	url = https://github.com/yigithanbalci/doom.git
[submodule "hyprland/.config/hypr/hyprland"]
	path = hyprland/.config/hypr/hyprland
	url = https://github.com/yigithanbalci/hyprland.git
[submodule "hyprland/.config/--force"]
	path = hyprland/.config/--force
	url = https://github.com/yigithanbalci/hypr.git
[submodule "hyprland/.config/hypr"]
	path = hyprland/.config/hypr
	url = https://github.com/yigithanbalci/hypr.git
[submodule "nvim/.config/jvim"]
	path = nvim/.config/jvim
	url = https://github.com/yigithanbalci/nvim.git
